.main{
    display: flex;
    justify-content: space-around;
}
.main1{
    display: flex;
    justify-content: space-around;
}
.submain{
    display: flex;
    justify-content: space-around;
    width: 1000px;
}
.box1{
    background-color: #dedede;
    width:260px;
    height: 30px;
    border: solid 1px gray;
    display: flex;
        align-items: center;
        padding-left: 10px;
}
.box2{
    background-color: #dedede;
    width:260px;
    height: 30px;
    display: flex;
    align-items: center;
    border: solid 1px gray;
    padding-left: 10px;
}
.box3{
    background-color: #dedede;
    width:260px;
    height: 30px;
    display: flex;
        align-items: center;
        border: solid 1px gray;
        padding-left: 10px;
}
.money{
    display: flex;
    width: 370px;
    justify-content: space-between;
}
.money select{
    height: 30px;
}
.money input{
    height: 24px;
    width: 300px;
}